{% if advantages.count %}
<section class="about-adventages" data-component="about-advantages" data-theme="true">
    <div class="container">
        <div class="row">
            <div class="about-adventages__inner">
                {% for advantage in advantages %}
                <div class="about-adventage" data-element="advantage">
                    <div class="about-adventage__icon">
                        <img src="{{ advantage.icon.url }}">
                    </div>
                    <div class="about-adventage__title">{{advantage.title}}</div>
                    <div class="about-adventage__text">{{advantage.description}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}