<section class="about-banner" data-theme="true">
    <div class="container">
        <div class="row">
            <div class="about-banner__inner">
                <h1 class="about-banner__title">#{{page.title}}</h1>
                <div class="about-banner__text">
                    {{page.content |safe}}
                </div>
            </div>
        </div>
    </div>
</section>