<section class="about-question" data-component="about-question" data-theme="true">
    <div class="about-question__title">{{page.additional_content |safe}}</div>

        <form class="about-question-form" data-component="question-form" action="{% url 'about-questions' %}" method="post">
            <div class="about-question-form__row">
                <div class="form-field-wrapper about-question-form__field-wrapper">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey about-question-form__input"
                     data-element="input" name="user_name" type="text" placeholder="Ваше имя" required>
                    <div class="form-field-info form-field-info_bottom form-field-info_error" data-element="field-error" name="user_name"></div>
                </div>
                <div class="form-field-wrapper about-question-form__field-wrapper">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey about-question-form__input"
                     data-element="phone-input" name="user_phone" type="tel" placeholder="Ваш номер телефона" required>
                    <div class="form-field-info form-field-info_bottom form-field-info_error" data-element="field-error" name="user_phone"></div>
                </div>
                <div class="form-field-wrapper about-question-form__field-wrapper">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey about-question-form__input"
                     data-element="input" name="user_email" type="email" placeholder="Ваш e-mail" required>
                    <div class="form-field-info form-field-info_bottom form-field-info_error" data-element="field-error" name="user_email"></div>
                </div>
            </div>
            <button class="form-button reset-btn form-button_size-s form-button_text-size-l form-button_rounded form-btn_color-brand form-button_bgcolor-white form-button_border-color-gradient about-question-form__button"
             type="submit">Отправить</button>
        </form>
</section>