{% if officers.count %}
<section class="about-units" data-component="about-units">
    <div class="about-units__inner">
        {% for officer in officers %}
        <section class="about-unit" data-element="about-unit" data-theme="true">
            <div class="about-unit__image-wrapper">
                <img class="about-unit__image" src="{{ officer.image.url }}">
            </div>
            <div class="about-unit__content">
                <h3 class="about-unit__title">{{officer.name}}</h3>
                <div class="about-unit__info">
                    <span>{{officer.specialty}}</span>
                    <div class="about-unit__text">
                        <p class="about-unit__short-text">{{officer.short_description|safe}}</p>
                        <div class="about-unit__additional-text" data-element="about-unit-additional-text">{{officer.description|safe}}</div>
                        <button class="btn btn_bgcolor-transparent reset-btn about-unit__readmore about-unit-readmore" data-element="about-unit-redmore-btn">
                            <div class="about-unit-readmore__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 100 100" height="100%">
                                    <path d="M23.1 34.1l28.4 27.6L80 34.1l1.5.9-30 29.1-30-29.1 1.6-.9z"></path>
                                </svg>
                            </div>
                            <div class="about-unit-readmore__text">Подробнее</div>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</section>
{% endif %}