{% load thumbnail %}
<article class="blog-page-article">
    <div class="blog-page-article__intro">
        {{article.intro |safe}}
    </div>
    <div class="blog-page-article__main-image-wrapper">
        <img class="blog-page-article__main-image" src="{{article.image|thumbnail_url:'blog_image_detail'}}">
    </div>
    <div class="blog-page-article__main-article">
        {{article.content |safe}}
    </div>
</article>