<div class="blog-page-comments"  data-component="comments" data-theme="true">
    <h3 class="blog-page-title blog-page-title_dark blog-page-comments__title">Комментарии/
        <span data-element="comments-count" class="blog-page-comments__comments-count">{{comments_count}}</span>
    </h3>

    <div class="blog-page-comments-form">
        {% if is_authenticated %}
        <form data-component="comment-form" class="blog-page-comments-form" action="{% url 'comments' article.id %}" method="post">
            <textarea class="form-feild form-textarea form-field_color-grey form-field_bgcolor-grey form-textarea_size-l form-textarea_rounded blog-page-comments-form__textarea"
                placeholder="Текст комментария" name="content" required></textarea>
            <button class="form-button reset-btn form-button_size-s form-button_text-size-l form-button_rounded form-btn_color-brand form-button_bgcolor-white form-button_border-color-gradient blog-page-comments-form__button"
                type="submit">Отправить</button>
        </form>
        <p data-element="comment-form-message"></p>
        {% else %}
        <p>
            <a class="reset-link blog-page-mistake__link" href="/login/">Войдите</a> или
            <a class="reset-link blog-page-mistake__link" href="/registration/">зарегистрируйтесь</a>
            для того, чтобы оставлять комментарии
        </p>
        {% endif %}
    </div>

    <section>
        <div data-element="comments-list" class="blog-page-comments-list" data-theme="true">
            {% if comments %}
                {% for comment in comments %}
                <div class="blog-page-comments-list-item blog-page-comments-form__item">
                    <div class="blog-page-comments-list-item__info">
                        <div class="blog-page-comments-list-item__photo-wrapper">
                            <img class="blog-page-comments-list-item__photo" src="">
                        </div>
                        <div class="blog-page-comments-list-item__author">{{ comment.author }}</div>
                        <div class="blog-page-comments-list-item__date">{{article.created|date:"d. m. Y"}}</div>
                    </div>
                    <div class="blog-page-comments-list-item__content">
                        {{ comment.content }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if is_article_has_more_comments %}
            <div class="blog-page-comments-read-all">
                <button data-element="comments-get-more-btn" data-url="{% url 'comments' article.id %}" class="btn reset-btn form-button form-button_color-brand form-button_bgcolor-transparent">
                    Показать ещё комментарии
                </button>
            </div>
        {% endif %}
    </section>
</div>