<div class="blog-page-pagination" data-theme="true">
	{% if previous_article %}
		<a class="blog-page-pagination__item" href="{{ previous_article.get_absolute_url }}">Предыдущая статья</a>
	{% endif %}
	
	{% if next_article %}
		<a class="blog-page-pagination__item" href="{{ next_article.get_absolute_url }}">Следующая статья</a>
	{% endif %}
</div>