{% if is_authenticated %}
<div class="blog-page-question" data-theme="true">
    <h3 class="blog-page-title blog-page-title_dark blog-page-question__title">Возник вопрос по данной статье?</h3>
    <h4 class="blog-page-sub-title blog-page-question__sub-title">Напишите нам</h4>
    <form class="blog-page-question-form" data-component="question-form" action="{% url 'questions' article.id %}" method="post">
        <div class="blog-page-question-form__row">
            <div class="blog-page-question-form__col">
                <p class="blog-page-question-form__field">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-page-question-form__input"
                        name="user_name" type="text" placeholder="Ваше имя" required>
                    <span data-element="field-error" name="user_name"></span>
                </p>
                <p class="blog-page-question-form__field">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-page-question-form__input"
                        name="user_phone" type="tel" placeholder="Ваш номер телефона" required>
                    <span data-element="field-error" name="user_phone"></span>
                </p>
                <p class="blog-page-question-form__field">
                    <input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-page-question-form__input"
                        name="user_email" type="email" placeholder="Ваш e-mail" required>
                    <span data-element="field-error" name="user_email"></span>
                </p>
            </div>
            <div class="blog-page-question-form__col">
                <textarea class="form-textarea form-textarea_size-m form-field form-field_rounded form-field_size-full-width form-field_color-grey form-field_bgcolor-grey blog-page-question-form__textarea"
                    name="question_content" placeholder="Напишите несколько слов" required></textarea>
            </div>
        </div>
        <button class="form-button reset-btn form-button_size-s form-button_text-size-l form-button_rounded form-btn_color-brand form-button_bgcolor-white form-button_border-color-gradient blog-page-question-form__button"
            type="submit">Отправить</button>
    </form>
    <p data-element="question-form-message"></p>
</div>
{% endif %}