{% extends 'base/wrappers/common.html' %}

{% load static %}

{% block content %}
<main class="blog-page-wrapper" data-theme="true">
        <div class="blog-page-content-wrapper">
            <section class="blog-page-content" data-theme="true">
                {% include 'blog/includes/article/status.html' %}
                <h1 class="blog-page-content__title">{{article.title}}</h1>
                <div class="blog-page-article-wrapper" data-sticky-container>
                    {% include 'blog/includes/common/social-share.html' %}
                    {% include 'blog/includes/article/article.html' %}
                    {% include 'blog/includes/article/info.html' %}
                    
                    {% if article.category.is_secret %}
                        {% include 'blog/includes/article/pagination.html' %}
                        {% include 'blog/includes/article/subsribtion.html' %}
                    {% endif %}
                    
                    {% include 'blog/includes/article/relevant.html' %}
                    {% include 'blog/includes/article/comments.html' %}
                    {% include 'blog/includes/article/question.html' %}
                </div>
            </section>
        </div>
        <div class="blog-page-sidebar-wrapper" data-sticky-container>
                {% if article.category.is_secret %}
                    {% include 'blog/includes/common/sidebar-secret.html' %}
                    {% else %}
                        {% include 'blog/includes/common/sidebar.html' %}
                {% endif %}
        </div>
    </main>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/blog-page.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/blog-page-secret.bundle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blog-page.min.js' %}" defer></script>
    <script src="{% static 'js/blog-page-secret.min.js' %}" defer></script>
{% endblock %}