{% extends 'base/wrappers/common.html' %}

{% load static %}

{% block content %}
    <main class="block-category-background">
        <div data-component="articles" class="blog-category-wrapper">
            {% include 'blog/includes/category/filters.html' %}
            <div class="blog-category-content-wrapper">
                <div class="blog-page-content-wrapper">
                    <section class="blog-page-content blog-category-page" data-theme="true">
                        <h1 class="blog-category-page__title">#{{category.title}}</h1>
                        <div class="blog-page-article-wrapper" data-sticky-container>
                            {% include 'blog/includes/common/social-share.html' %}
                            {% include 'blog/includes/category/listing.html' %}
                        </div>
                    </section>
                </div>
                <div class="blog-page-sidebar-wrapper" data-sticky-container>
                    {% include 'blog/includes/common/sidebar.html' %}
                </div>
            </div>

            {% if is_category_has_more_articles %}
                <div class="blog-category-show-more" data-theme="true">
                    <button
                        data-element="articles-get-more-btn"
                        data-url="{% url 'articles' category.id %}"
                        class="form-button reset-btn form-button_size-m form-button_text-size-l form-button_rounded form-btn_color-brand form-button_bgcolor-white form-button_border-color-gradient"
                        type="button">
                        Показать больше
                    </button>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/blog-category.bundle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blog-category.min.js' %}" defer></script>
{% endblock %}