{% extends 'base/wrappers/common.html' %}

{% load static %}

{% block content %}
    <main class="blog-wrapper" data-theme="true">
        {% include 'blog/includes/index/banner.html' %}
        {% include 'blog/includes/index/listing.html' %}
        {% include 'blog/includes/index/subscribe.html' %}
    </main>
    {% include 'blog/includes/index/sub-modal.html' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/blog.bundle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blog.min.js' %}" defer></script>
{% endblock %}