{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{% static 'styles/common.bundle.css' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest'  %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block styles %}
    <!-- additional styles goes here -->
    {% endblock %}
    
    {% include 'base/includes/common/analytics.html'%}
    <title>{{seo_title}}</title>
    <meta name="description" content="{{seo_description}}" />
</head>

<body>
    {% include 'base/includes/common/header.html'%}
    
    {% block content %}
    <!-- content goes here -->
    {% endblock %}
    
    {% include 'base/includes/common/footer.html'%}
</body>
    <script src="{% static 'js/babel-polyfill.min.js' %}" defer></script>
    <script src="{% static 'js/common.min.js' %}" defer></script>
    
    {% block scripts %}
        <!-- additional scripts goes here -->
    {% endblock %}
</html>