<div class="blog-page-sidebar">
	{% if articles %}
		<section class="blog-page-sidebar-block blog-page-sidebar-block-relevants" data-component="blog-page-sidebar-all">
			<h3 class="blog-page-sidebar-block-relevants__title blog-page-sidebar__title">Все статьи:</h3>
			<div class="blog-page-sidebar-list" data-theme="true">
				{% for sb_article in articles %}
					<a
						class="blog-page-sidebar-list__item"
						href="{{ sb_article.get_absolute_url }}">{{sb_article.title}}</a>
				{% endfor %}
			</div>
		</section>
	{% endif %}
</div>