<section class="blog-page-social-share" data-component="blog-page-social-share" data-theme="true">
    <a class="reset-link blog-page-social-share__item" href="https://www.facebook.com/sharer/sharer.php?u=http://primarytime.ru/{{ article.get_absolute_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 24 24" height="100%">
            <path transform="translate(7, 0)" d="M2.59 10.45H.48c-.36 0-.5-.08-.49-.47V7.27a.3.3 0 0 1 .37-.36h2.19v-.48c.05-1 0-2.1.18-3.14A3.46 3.46 0 0 1 5.96.2C7.36.03 8.78.08 10.19.03a.27.27 0 0 1 .3.33v2.91c0 .28-.16.33-.39.33h-2a1 1 0 0 0-1.08 1.1v2.24h3.43l-.21 1.26c-.1.62-.2 1.25-.29 1.87a.37.37 0 0 1-.44.37H6.96v10.7c0 .41-.1.54-.52.53H3.01c-.38 0-.48-.12-.48-.49V10.44z"></path>
        </svg>
    </a>
    {% comment %} <a class="reset-link blog-page-social-share__item" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 24 24" height="100%">
            <path d="M11.26 0h4.73a6.38 6.38 0 0 1 4.69 2 6.34 6.34 0 0 1 1.78 3.55 6.79 6.79 0 0 1 .07 1v9.38a6.39 6.39 0 0 1-2.69 5.3 6.25 6.25 0 0 1-3 1.2 6 6 0 0 1-.78.06H6.47a6.27 6.27 0 0 1-4-1.43 6.41 6.41 0 0 1-2.38-4.11 6.4 6.4 0 0 1-.07-1V6.52a6.54 6.54 0 0 1 3.92-6 6.52 6.52 0 0 1 2.67-.54h4.67zm0 1.73H6.59a5.08 5.08 0 0 0-1.51.22 4.78 4.78 0 0 0-3.35 4.5v9.62a4.34 4.34 0 0 0 .13 1 4.79 4.79 0 0 0 4.69 3.68h9.49a4.38 4.38 0 0 0 2-.48 4.66 4.66 0 0 0 2.69-4.35V6.54a5.13 5.13 0 0 0-.1-1 4.79 4.79 0 0 0-4.64-3.8h-4.73z"></path>
            <path d="M5.19 11.25a6.07 6.07 0 0 1 6.15-6.05 6.07 6.07 0 0 1 6 6.06 6.07 6.07 0 0 1-6.09 6.06 6.07 6.07 0 0 1-6.06-6.07zm6.06 4.33a4.32 4.32 0 0 0 4.33-4.33 4.33 4.33 0 0 0-4.28-4.33 4.33 4.33 0 0 0-4.37 4.33 4.32 4.32 0 0 0 4.32 4.33z"></path>
            <circle cx="183.72" cy="-68.8" r=".87" transform="rotate(-89.74 137.683 50.9)"></circle>
        </svg>
    </a> {% endcomment %}
    {% comment %} <a class="reset-link blog-page-social-share__item" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 24 24" height="100%">
            <path d="M22.68 1.01a1 1 0 0 0-1.45-.92l-.32.12-1.88.73-2.26.87h-.08l-2.25.87a.45.45 0 0 0-.21.07c-.45.21-.92.38-1.39.55l-2 .76-2.88 1.11-2.84 1.1a1.12 1.12 0 0 1-.36.12q-1.1.47-2.22.87l-.48.19c-.33.12-.64.27-1 .36l-.18.09a2 2 0 0 0-.76.56.49.49 0 0 0 .07.7 1.47 1.47 0 0 0 .59.32l5.18 1.61.14-.07 5.11-3.22 6.63-4.19a1 1 0 0 1 .67-.21.19.19 0 0 1 .19.09.18.18 0 0 1-.06.2l-.32.29-2.5 2.25-2.47 2.28-2.1 1.91-2.16 1.95a.34.34 0 0 0-.17.21.26.26 0 0 0 0 .08l-.16 2.32c0 .47-.05.94-.09 1.4 0 .71-.1 1.43-.15 2.14a1.24 1.24 0 0 0 .92-.34l.4-.36 2.68-2.62.3.24.66.48c.29.23.59.46.9.67v.05l2.72 2a2 2 0 0 0 .61.31 1 1 0 0 0 1.27-.58 5.31 5.31 0 0 0 .18-.58l.36-1.74c0-.22.1-.45.14-.68.08-.42.2-.84.25-1.27V14c0-.36.13-.71.21-1.07s.11-.54.17-.8l.23-1a7.82 7.82 0 0 1 .15-.79c.15-.58.26-1.17.38-1.76v-.07a3.45 3.45 0 0 0 .12-.59 5.77 5.77 0 0 0 .15-.76.19.19 0 0 0 0-.14v-.11l.17-.82.18-.74c0-.22.08-.45.13-.67.09-.42.19-.85.28-1.27v-.1c.13-.68.31-1.36.4-2.05.2-.11.2-.18.2-.25z"></path>
        </svg>
    </a> {% endcomment %}
    <a class="reset-link blog-page-social-share__item" href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={{ article.get_absolute_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 24 24" height="100%">
            <path transform="translate(7, 0)" d="M9.25 16.9c.34.3.69.58 1 .9q1.1 1.06 2.18 2.15a1.77 1.77 0 0 1 .09 2.58 1.77 1.77 0 0 1-2.58 0c-1-1.05-2.07-2.13-3.13-3.22l-.41.39c-1 1-2 2-3 2.93a1.75 1.75 0 0 1-2.23.16 1.76 1.76 0 0 1-.23-2.74c.94-1 1.91-1.9 2.86-2.84l.35-.37a10.56 10.56 0 0 1-1-.34A24.42 24.42 0 0 1 .9 15.43 1.72 1.72 0 0 1 .26 13a1.77 1.77 0 0 1 2.48-.61 7.65 7.65 0 0 0 3.9 1.15 7.35 7.35 0 0 0 4-1.11 1.8 1.8 0 0 1 1.34-.28 1.79 1.79 0 0 1 1.44 1.49 1.67 1.67 0 0 1-.84 1.77c-.91.47-1.87.86-2.81 1.27a4.46 4.46 0 0 1-.47.15zm3.49-10.89a6 6 0 0 1-6.08 5.94 6 6 0 0 1-5.92-6 6 6 0 0 1 6.06-6 6 6 0 0 1 5.94 6.06zm-6-2.41a2.41 2.41 0 0 0-2.42 2.39 2.48 2.48 0 0 0 2.42 2.42 2.47 2.47 0 0 0 2.43-2.44A2.41 2.41 0 0 0 6.73 3.6z"></path>
        </svg>
    </a>
    <a
        class="reset-link blog-page-social-share__item"
        target="_blank"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
        href="http://vk.com/share.php?url=http://primarytime.ru/blog/{{ article.category.slug }}/{{ article.slug }}/">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 24" height="100%">
            <path d="M19.11 4.87v3.41a2.74 2.74 0 0 0 .06.64.59.59 0 0 0 .9.45 2.81 2.81 0 0 0 .91-.67 22.05 22.05 0 0 0 3.77-5.58c.35-.67.67-1.36 1-2.06a1.59 1.59 0 0 1 1.56-1h3.63a.93.93 0 0 1 1 1.37 17.45 17.45 0 0 1-2.2 4.26c-.78 1.25-1.62 2.47-2.44 3.7-.67 1-.67 1.33.2 2.2a46.56 46.56 0 0 1 3.21 3.44 13.92 13.92 0 0 1 1.71 2.43 2.14 2.14 0 0 1 .28.92.89.89 0 0 1-.8 1 3.2 3.2 0 0 1-.64.06h-3a2.73 2.73 0 0 1-2.29-1 31.17 31.17 0 0 0-3.87-3.85 4.8 4.8 0 0 0-1.69-.94.89.89 0 0 0-1.3 1v3.25a1.22 1.22 0 0 1-1.28 1.46 10 10 0 0 1-5.09-.66 14.37 14.37 0 0 1-6.17-4.61 36.48 36.48 0 0 1-6.11-11A8.72 8.72 0 0 1 .01 1.2.86.86 0 0 1 .87.08a23.92 23.92 0 0 1 4.42 0 1.5 1.5 0 0 1 1.1 1.28 32.85 32.85 0 0 0 1.49 3.65 21 21 0 0 0 3.18 5.07 4.21 4.21 0 0 0 .72.65c.62.43 1.08.2 1.15-.55V4.6a4.25 4.25 0 0 0-1-2.95 2.31 2.31 0 0 1-.23-.3.84.84 0 0 1 .7-1.35h5.74a.93.93 0 0 1 .94 1.14v3.68z"></path>
        </svg>
    </a>
    {% comment %} <a class="reset-link blog-page-social-share__item" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 20 20" height="100%">
            <path d="M10 19.5a9.6 9.6 0 0 1-4.27-1 1 1 0 0 0-.81-.06c-1.58.52-3.17 1-4.75 1.53a.16.16 0 0 1-.17 0c-.06-.05 0-.11 0-.17q.81-2.37 1.62-4.75a.61.61 0 0 0-.08-.54 9.59 9.59 0 0 1-1.13-3.24A9.57 9.57 0 0 1 .79 6.7a9.6 9.6 0 0 1 2.7-4.09A9.59 9.59 0 0 1 8.11.24a9.3 9.3 0 0 1 5.71.55 9.57 9.57 0 0 1 5.62 6.37 9.6 9.6 0 0 1-.44 6.45 9.37 9.37 0 0 1-2.86 3.74 9.61 9.61 0 0 1-4.54 2 9 9 0 0 1-1.6.15zm-7.51-2a.28.28 0 0 0 .21 0c.84-.27 1.68-.53 2.51-.82a.72.72 0 0 1 .71.08 5.08 5.08 0 0 0 .83.43 7.77 7.77 0 0 0 4.2.67 7.93 7.93 0 0 0 4.58-2.09 8.12 8.12 0 0 0 2-2.83 8.24 8.24 0 0 0 .58-4 7.24 7.24 0 0 0-.75-2.7 8.08 8.08 0 0 0-4.87-4.22 7.84 7.84 0 0 0-4.27-.17A8 8 0 0 0 3.9 4.48a8 8 0 0 0-1.84 6.67 7.52 7.52 0 0 0 1.25 3.1.56.56 0 0 1 .07.57c-.13.33-.24.68-.35 1z"></path>
            <path d="M12.73 14.61a3.13 3.13 0 0 1-1-.21 9.44 9.44 0 0 1-3.23-1.71 11.63 11.63 0 0 1-3-4 2.94 2.94 0 0 1 .07-2.72 2.72 2.72 0 0 1 .7-.83.82.82 0 0 1 .51-.19 5.29 5.29 0 0 1 .67 0 .41.41 0 0 1 .34.29l.79 2.09a.5.5 0 0 1-.07.48 5.25 5.25 0 0 1-.6.71.39.39 0 0 0-.07.59 6.82 6.82 0 0 0 3.23 3 .42.42 0 0 0 .59-.12c.26-.29.52-.59.77-.89a.36.36 0 0 1 .47-.11 22.83 22.83 0 0 1 2.1 1.17.34.34 0 0 1 .15.35 2 2 0 0 1-1.52 1.95 5.61 5.61 0 0 1-.63.15 2 2 0 0 1-.27 0z"></path>
        </svg>
    </a> {% endcomment %}
</section>