{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/common.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common.bundle.css' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest'  %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="verification-key" content="{{ verkey }}" />
    <meta name="reset-uid" content="{{ resuid }}" />
    <meta name="reset-token" content="{{ restoken }}" />

    {% include 'base/includes/common/analytics.html'%}
    <title>Primary time</title>
</head>

<body>
    {% block content %}
    <!-- content goes here -->
    {% endblock %}

    <section data-component="reg-modal">
        <section class="modal" data-component="modal">
            <div class="modal__wrapper" data-element="wrapper">
                <div class="modal__inner" data-element="inner">
                    <span class="modal__cross" data-element="cross">
                        <svg class="modal__cross-icon" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32"
                            height="100%">
                            <path d="M17.459 16.014l8.239-8.194a.992.992 0 0 0 0-1.414 1.016 1.016 0 0 0-1.428 0l-8.232 8.187L7.73 6.284a1.009 1.009 0 0 0-1.428 0 1.015 1.015 0 0 0 0 1.432l8.302 8.303-8.332 8.286a.994.994 0 0 0 0 1.414 1.016 1.016 0 0 0 1.428 0l8.325-8.279 8.275 8.276a1.009 1.009 0 0 0 1.428 0 1.015 1.015 0 0 0 0-1.432l-8.269-8.27z"></path>
                        </svg>
                    </span>
                    <div class="modal__content">
                        <h3 class="modal__title" data-element="title"></h3>
                        <div class="modal__text">
                            <p data-element="text"></p>
                        </div>
                    </div>
                    <span class="modal__line"></span>
                </div>
            </div>
        </section>
    </section>
    <section data-component="pass-modal">
        <section class="modal" data-component="modal">
            <div class="modal__wrapper" data-element="wrapper">
                <div class="modal__inner" data-element="inner">
                    <span class="modal__cross" data-element="cross">
                        <svg class="modal__cross-icon" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32"
                            height="100%">
                            <path d="M17.459 16.014l8.239-8.194a.992.992 0 0 0 0-1.414 1.016 1.016 0 0 0-1.428 0l-8.232 8.187L7.73 6.284a1.009 1.009 0 0 0-1.428 0 1.015 1.015 0 0 0 0 1.432l8.302 8.303-8.332 8.286a.994.994 0 0 0 0 1.414 1.016 1.016 0 0 0 1.428 0l8.325-8.279 8.275 8.276a1.009 1.009 0 0 0 1.428 0 1.015 1.015 0 0 0 0-1.432l-8.269-8.27z"></path>
                        </svg>
                    </span>
                    <div class="modal__content">
                        <h3 class="modal__title" data-element="title"></h3>
                        <div class="modal__text">
                            <p data-element="text"></p>
                        </div>
                    </div>
                    <span class="modal__line"></span>
                </div>
            </div>
        </section>
    </section>
    <section data-component="ver-modal">
        <section class="modal" data-component="modal">
            <div class="modal__wrapper" data-element="wrapper">
                <div class="modal__inner" data-element="inner">
                    <span class="modal__cross" data-element="cross">
                        <svg class="modal__cross-icon" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32"
                            height="100%">
                            <path d="M17.459 16.014l8.239-8.194a.992.992 0 0 0 0-1.414 1.016 1.016 0 0 0-1.428 0l-8.232 8.187L7.73 6.284a1.009 1.009 0 0 0-1.428 0 1.015 1.015 0 0 0 0 1.432l8.302 8.303-8.332 8.286a.994.994 0 0 0 0 1.414 1.016 1.016 0 0 0 1.428 0l8.325-8.279 8.275 8.276a1.009 1.009 0 0 0 1.428 0 1.015 1.015 0 0 0 0-1.432l-8.269-8.27z"></path>
                        </svg>
                    </span>
                    <div class="modal__content">
                        <h3 class="modal__title" data-element="title"></h3>
                        <div class="modal__text">
                            <p data-element="text"></p>
                        </div>
                    </div>
                    <span class="modal__line"></span>
                </div>
            </div>
        </section>
    </section>
    <section data-component="res-modal">
        <section class="modal" data-component="modal">
            <div class="modal__wrapper" data-element="wrapper">
                <div class="modal__inner" data-element="inner">
                    <span class="modal__cross" data-element="cross">
                        <svg class="modal__cross-icon" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32"
                            height="100%">
                            <path d="M17.459 16.014l8.239-8.194a.992.992 0 0 0 0-1.414 1.016 1.016 0 0 0-1.428 0l-8.232 8.187L7.73 6.284a1.009 1.009 0 0 0-1.428 0 1.015 1.015 0 0 0 0 1.432l8.302 8.303-8.332 8.286a.994.994 0 0 0 0 1.414 1.016 1.016 0 0 0 1.428 0l8.325-8.279 8.275 8.276a1.009 1.009 0 0 0 1.428 0 1.015 1.015 0 0 0 0-1.432l-8.269-8.27z"></path>
                        </svg>
                    </span>
                    <div class="modal__content">
                        <h3 class="modal__title" data-element="title"></h3>
                        <div class="modal__text">
                            <p data-element="text"></p>
                        </div>
                    </div>
                    <span class="modal__line"></span>
                </div>
            </div>
        </section>
    </section>
</body>
<script src="{% static 'js/babel-polyfill.min.js' %}" defer></script>
<script src="{% static 'js/common.min.js' %}" defer></script>
<script src="{% static 'js/home.min.js' %}" defer></script> {% block scripts %}
<!-- additional scripts goes here -->
{% endblock %}

</html>