<section class="blog-banner" data-theme="true">
    <div class="blog-banner__inner">
        <section class="home-title-block" data-theme="true">
            <div class="home-title-block__top">
                <i class="home-title-block__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="2.5 3.5 30 30" height="100%">
                        <circle cx="17.75" cy="18.69" r="13.82" fill="none" stroke-miterlimit="10" stroke-width="2"></circle>
                        <path d="M16.74 19.91V4.86l4.39.66 3.85 1.38 3.41 3.62 1.99 3.34 1.19 5.83-14.83.22z"></path>
                    </svg>
                </i>
                <h1 class="home-title-block__title brand-color">Primary Time</h1>
            </div>
            <div class="home-title-block__bottom">
                <p class="home-title-block__descriptor brand-color">Те, кто всегда рядом</p>
            </div>
        </section>
    </div>
    <a href="/blog/secret/" class="blog-david" data-theme="true"></a>
</section>