<section class="blog-listing">
    <div class="blog-listing__inner">
        {% include 'blog/includes/index/tabs.html'%}
        {% include 'blog/includes/index/categories.html'%}
    </div>
</section>