<div class="blog-subscribe-wrapper">
	<section class="blog-subscribe" data-theme="true">
		<p class="blog-subscribe__title">Будь в курсе наших событий</p>
		<form class="blog-subscribe-form" data-component="subscribe-form" action="/subscribers/" method="post">
			<div class="form-field-wrapper about-question-form__field-wrapper">
				<input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-subscribe-form__input"
				 data-element="input" name="name" type="text" placeholder="Ваше имя" required>
				<div class="form-field-info form-field-info_error" data-element="field-error" name="phone"></div>
			</div>
			<div class="form-field-wrapper about-question-form__field-wrapper">
				<input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-subscribe-form__input"
				 data-element="phone-input" name="phone" type="tel" placeholder="Ваш номер телефона" required>
				<div class="form-field-info form-field-info_error" data-element="field-error" name="phone"></div>
			</div>
			<div class="form-field-wrapper about-question-form__field-wrapper">
				<input class="form-field form-field_rounded form-field_size-full-width form-field_size-m form-field_color-grey form-field_bgcolor-grey blog-subscribe-form__input"
				 data-element="email" name="email" type="email" placeholder="Ваш email" required>
				<div class="form-field-info form-field-info_error" data-element="field-error" name="email"></div>
			</div>
			<button class="form-button reset-btn form-button_size-s form-button_text-size-l form-button_rounded form-btn_color-brand form-button_bgcolor-white form-button_border-color-gradient"
			 type="submit">Подписаться</button>
		</form>
	</section>
</div>