<form class="home-form" data-component='password-recovery-form' name="password-recovery" action="/rest-auth/password/reset/ ">
    <p class="home-form-info-text home-form-info-text_margened">Восстановление пароля. Введите e-mail для получения доступа</p>
    <input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input"
        placeholder="Email" name="email" type="email">
    <button class="form-button form-button_rounded form-button_primary form-button_m form-button_transparent home-form__btn"
        type="submit">Восстановить</button>
</form>