{% load thumbnail %}
<div data-element="articles-list" class="blog-category-page-listing">
    {% for article in object_list %}
    <div class="blog-category-listing-item">
        <a
            class="reset-link blog-category-listing-item"
            href="{% url 'blog-article' category_slug=article.category.slug article_slug=article.slug %}">
            <div class="blog-category-listing-item__image-wrapper">
                <img style="max-width: 100%" class="blog-category-listing-item__image" src="{{article.image|thumbnail_url:'blog_image_medium'}}">
            </div>
            <div class="blog-category-listing-item__content-wrapper">
                <div class="blog-category-listing-item__content">
                    <div class="blog-category-listing-item__title">{{article.title}}</div>
                    <div class="blog-category-listing-item__info">
                        <div class="blog-category-listing-item__category" data-theme="true">#{{article.category}}</div>
                        <div class="blog-page-status-bar blog-category-listing-item__status-bar">
                            <div class="blog-page-status-bar-item">
                                <span class="blog-page-status-bar-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32" height="100%">
                                        <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M649 137.999h26v18h-14m-8 0h-4v-14M661 156l-8 6v-6"
                                        />
                                        <path d="M16 25c-4.265 0-8.301-1.807-11.367-5.088a1 1 0 0 1 1.462-1.365C8.778 21.419 12.295 23 16 23c4.763 0 9.149-2.605 11.84-7-2.69-4.395-7.077-7-11.84-7-4.938 0-9.472 2.801-12.13 7.493a1 1 0 1 1-1.74-.986C5.147 10.18 10.333 7 16 7c5.668 0 10.853 3.18 13.87 8.507a1 1 0 0 1 0 .985C26.853 21.819 21.668 25 16 25z"
                                        />
                                        <path d="M16 21c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"
                                        />
                                    </svg>
                                </span>
                                <span class="blog-page-status-bar-item__text">{{article.views.count}}</span>
                            </div>
                            <div class="blog-page-status-bar-item">
                                <span class="blog-page-status-bar-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="0 0 32 32" height="100%">
                                        <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M649 137.999h26v18h-14m-8 0h-4v-14M661 156l-8 6v-6"
                                        />
                                        <path d="M29 3H3a1 1 0 0 0 0 2h25v16H15c-.041 0-.076.018-.116.023-.067.008-.13.018-.195.039a.892.892 0 0 0-.187.089c-.033.019-.071.025-.102.049L8 26v-4a1 1 0 0 0-1-1H4V8a1 1 0 0 0-2 0v14a1 1 0 0 0 1 1h3v5a1.001 1.001 0 0 0 1.6.8l7.733-5.8H29a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"
                                        />
                                    </svg>
                                </span>
                                <span class="blog-page-status-bar-item__text">{{article.comments_count}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-category-listing-item__intro">
                        {{article.intro| safe}}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>