{% extends 'public_auth/wrappers/common.html' %}

{% block content %}
    <main>
        <section class="home-wrapper full-page">
            <section class="home-tabs" data-component="home-tabs">
                {% include 'public_auth/includes/index/index.html' %}
                {% include 'public_auth/includes/login/index.html' %}
                {% include 'public_auth/includes/registration/index.html' %}
                {% include 'public_auth/includes/password-recovery/index.html' %}
                {% include 'public_auth/includes/password-change/index.html' %}
            </section>
        </section>
    </main>
{% endblock %}