<form class="home-form" data-component="login-form" name="login" action="/rest-auth/login/">
    <div class="form-field-wrapper">
        <input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input"
            placeholder="Логин" name="username">
        <div class="form-field-info form-field-info_error" data-element="field-error" name="username"></div>
    </div>
    <div class="form-field-wrapper password-field" data-element="password-field">
        <input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
            placeholder="Пароль" name="password" type="password" data-element="password-input">
        <span class="password-field__icon password-field__icon_closed" data-element="password-icon"></span>
        <div class="form-field-info form-field-info_error" data-element="field-error" name="password"></div>
    </div>
    <button class="form-button form-button_rounded form-button_primary form-button_m form-button_transparent home-form__btn"
        type="submit">Вход</button>
    <p class="home-form-info-text hidden" data-element="password-recovery">Неверный пароль или имя пользователя.
        <br>Восстановить доступ через
        <button class="btn btn_bgcolor-transparent btn_color-white home-auth-block__btn reset-btn" href="/password-recovery/" data-component="btn-link"
            data-type="password-recovery">e-mail?</button>
    </p>
</form>