<section class="home-main home-main_centered home-tabs__item" data-element="tab" data-type="login" data-index="1">
    <div class="home-main__row justify-top">
        {% include 'public_auth/includes/common/title-block.html' %}
    </div>
    <div class="home-main__row centered home-main__form-wrapper">
        {% include 'public_auth/includes/login/form.html' %}
    </div>
</section>