{% extends 'base/wrappers/common.html' %}

{% load static %}

{% block content %}
    <main class="about-wrapper">
        {% include 'common/includes/about/banner.html' %}
        {% include 'common/includes/about/adventages.html' %}
        {% include 'common/includes/about/units.html' %}
        {% include 'common/includes/about/question.html' %}
    </main>
    {% include 'common/includes/about/question-modal.html' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/about.bundle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/about.min.js' %}" defer></script>
{% endblock %}