<section class="home-main home-tabs__item active" data-element="tab" data-type="main" data-index="0">
    {% include 'public_auth/includes/index/top-actions.html' %}
    <div class="home-main__row centered">
        {% include 'public_auth/includes/common/title-block.html' %}
        {% include 'public_auth/includes/index/navigation.html' %}
    </div>
    <div class="home-main__row">
        <!-- <section class="home-contact-block">
            <div class="home-contact-block__icon">icon</div>
            <div class="home-contact-block__icon">icon</div>
        </section> -->
    </div>
</section>