<nav class="home-nav">
    <a class="home-nav__item reset-link" href="/about/">О нас</a>
    <a class="home-nav__item reset-link" href="/blog/">Блог</a>
    <a class="home-nav__item reset-link"  href="http://katrin.tech" target="_blank">Катрин</a>
</nav>