<div class="home-main__row">
    <section class="home-auth-block">
        <button class="btn btn_bgcolor-transparent btn_color-white home-auth-block__btn reset-btn" href="/login/" data-component="btn-link"
            data-type="login">Вход</button>
        <button class="btn btn_bgcolor-transparent btn_color-white home-auth-block__btn reset-btn" href="/registration/" data-component="btn-link"
            data-type="registration">Регистрация</button>
        <button class="btn btn_bgcolor-transparent btn_color-white home-auth-block__btn reset-btn hidden_hard" data-component="btn-link"
            data-type="logout">Выйти</button>
    </section>
</div>