{% load solo_tags %}
{% get_solo 'config.AnalyticsConfiguration' as analytics_config %}

<meta name="yandex-verification" content="{{analytics_config.yandex_webmaster_code}}" />
<meta name="google-site-verification" content="{{analytics_config.google_search_console_code}}"/>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter36158795 = new Ya.Metrika({
					id: "{{ analytics_config.yandex_metrika_number }}",
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<!-- Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97211485-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', "{{ analytics_config.google_analytics_number }}");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
