<header class="header" style="z-index: 4;" data-theme="true">
    <div class="header__inner container">
        <div class="row">
            <a href="{% url 'homepage' %}" class="header-icons">
                <i class="header-icons__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMaxYMax" width="100%" viewbox="2.5 3.5 30 30" height="100%">
                        <circle cx="17.75" cy="18.69" r="13.82" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"></circle>
                        <path fill="#fff" d="M16.74 19.91V4.86l4.39.66 3.85 1.38 3.41 3.62 1.99 3.34 1.19 5.83-14.83.22z"></path>
                    </svg>
                </i>
            </a>
            <nav class="header-nav">
                <a class="reset-link header-nav__item" href="/about/"> О нас</a>
                <a class="reset-link header-nav__item" href="/blog/"> Блог</a>
                <a class="reset-link header-nav__item" href="http://katrin.tech" target="_blank"> Катрин</a>
            </nav>
            <section class="search-bar header-search-bar">
                <i class="search-bar__icon"></i>
            </section>
            <section class="theme-switcher" data-component="theme-switcher">
                <label class="theme-switcher__label" for="theme-switcher">
                    <input data-element="input" type="checkbox" id="theme-switcher" name="theme">
                    <span class="theme-switcher__input"></span>
                </label>
            </section>
        </div>
    </div>
</header>