<form class="home-form reg-form" data-component="registration-form" action="/rest-auth/registration/" name="registration">
    <div class="home-form__inner">
        <div class="form-field-wrapper">
            <input required class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="ФИО" name="initials">
            <div class="form-field-info form-field-info_error" data-element="field-error" name="initials"></div>
        </div>
        <div class="form-field-wrapper">
            <input required class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="Логин" name="username">
            <div class="form-field-info form-field-info_error" data-element="field-error" name="username"></div>
        </div>
        <div class="form-field-wrapper password-field" data-element="password-field">
            <input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="Пароль" name="password1" type="password" data-element="password-input">
            <span class="password-field__icon password-field__icon_closed" data-element="password-icon"></span>
            <div class="form-field-info form-field-info_error" data-element="field-error" name="password1"></div>
        </div>
        <div class="form-field-wrapper password-field" data-element="password-field">
            <input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="Повторите пароль" name="password2" type="password" data-element="password-input">
            <span class="password-field__icon password-field__icon_closed" data-element="password-icon"></span>
            <div class="form-field-info form-field-info_error" data-element="field-error" name="password2"></div>
        </div>
        <div class="form-field-wrapper">
            <input data-element="phone-input" required class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="Номер телефона" name="phone_number" type="tel">
            <div class="form-field-info form-field-info_error" data-element="field-error" name="phone_number"></div>
            <div class="form-field-info">
                <p class="form-field-info__text">Оставьте свой телефон, чтобы получать уведомления и информационные сообщения от нашего сайта. (Не обязательное
                    поле)
                </p>
            </div>
        </div>
        <div class="form-field-wrapper">
            <input required class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
                placeholder="E-mail" name="email" type="email">
            <div class="form-field-info form-field-info_error" data-element="field-error" name="email"></div>
        </div>
        <div data-element="non-field-errors" class="form-non-field-errors"></div>
        <button class="form-button form-button_rounded form-button_primary form-button_m form-button_transparent home-form__btn"
            type="submit">Регистрация</button>
        <div class="form-field-wrapper form-field-wrapper_centered rounded-checkbox-wrapper home-form__subscription-checkbox">
            <input type="checkbox" checked="true" id="reg-subscribtion" name="is_subscriber">
            <label class="home-form-info-text" for="reg-subscribtion">Уведомлять о публикациях</label>
        </div>
    </div>
    <p class="home-form-info-text">Нажимая "Регистрация", вы даете согласие на обработку персональных данных.</p>
</form>