<form class="home-form" data-component='password-recovery-form' name="password-change" action="/rest-auth/password/reset/confirm/">
	<p class="home-form-info-text">Смена пароля</p>
	<div class="form-field-wrapper password-field" data-element="password-field">
		<input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
		 placeholder="Пароль" name="new_password1" type="password" data-element="password-input">
		<span class="password-field__icon password-field__icon_closed" data-element="password-icon"></span>
		<div class="form-field-info form-field-info_error" data-element="field-error" name="new_password1"></div>
	</div>
	<div class="form-field-wrapper password-field" data-element="password-field">
		<input class="reset-input input form-field form-field_bgcolor-transparent input_bordered input_bordered-bottom form-field_color-white home-form__input home-form__input_shorted"
		 placeholder="Повторите пароль" name="new_password2" type="password" data-element="password-input">
		<span class="password-field__icon password-field__icon_closed" data-element="password-icon"></span>
		<div class="form-field-info form-field-info_error" data-element="field-error" name="new_password2"></div>
	</div>
	<button class="form-button form-button_rounded form-button_primary form-button_m form-button_transparent home-form__btn"
	 type="submit">Сменить пароль</button>
</form>